<% provide(:title, "adidas Trang Web Chính Thức") %>
<section class="main___2e0dj">
	<div class="content">
		
		<div class="wallpaperWrapper">
			<picture><%= image_tag("lib/1.webp") %></picture>
		</div>
		<div class="poster_content">
			<div class="ctas___1lkb1 left___2fRvf">
				<div class="content_item">
					<h1 class="title"><%= t(".title") %></h1>
					<p class="summary"><%= t(".summary") %></p>
					<div class="cta___3s8jP"><a href="
						/products?gender=men" title="
						SHOP MEN"
						class="gl-cta gl-cta--primary gl-cta--primary-light">
						SHOP MEN<span class="gl-icon icon  gl-cta__icon icon--size-l"></span></a></div>
						<div class="cta___3s8jP"><a href="
						/products?gender=women" title="
						SHOP WOMEN"
						class="gl-cta gl-cta--primary gl-cta--primary-light">
						SHOP WOMEN<span class="gl-icon icon  gl-cta__icon icon--size-l"></span></a></div>
				
					</div>
				</div>
			</div>
		</section>
		<iframe id="youtube" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="
		height: 89%;
		width: 100%;
		display: none;
		position: fixed;
		z-index: 3000;
		bottom: 0;
		left: 0;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0, 0.9);
		overflow-x: hidden;
		transition: 0.5s;
		">></iframe>
		<button type="button" id="youtubec" style="
		display: none;
		position: fixed;
		z-index: 3001;
		top: 100px;
		right: 0;
		color: white;

		transition: 0.5s;
		font-size: 125px;
		width: 100px;
		height: 100px;
		cursor: pointer;
		" onclick="youtubec()"><span>&times;</span></button>
		<script type="text/javascript">
			function youtube() {
				document.getElementById("youtube").style.display = "block";
				document.getElementById("youtubec").style.display = "block";
				document.getElementById("youtube").setAttribute("src","https://www.youtube.com/embed/hqaUF2JNY_U?autoplay=1");
			}

			function youtubec() {
				document.getElementById("youtube").style.display = "none";
				document.getElementById("youtubec").style.display = "none";
				document.getElementById("youtube").removeAttribute("src");
			}
		</script><!-- ---------------------------------------------------------------------------------------------------------------------------- -->


		<div class="text-center" style="text-align:center">

			<div class="teaser_container">
				<a href="/products">
					<div class="thumbnail">
						<%= image_tag("lib/2.webp") %>
					</div>
					<div class="tester_text">
						<!--<h6>&nbsp;</h6>-->
						<h6>HOODIES VÀ FLEECE</h6>
						<p>Giảm giá tới 50%</p>
						<span>MUA NGAY</span>
					</div>

				</a>
			</div>

			<div class="teaser_container">
				<a href="/products">
					<div class="thumbnail">
						<%= image_tag("lib/3.webp") %>
					</div>
					<div class="tester_text">
						
						<h6>TRACK SUITS</h6>
						<p>Giảm giá tới 50%</p>
						<span>MUA NGAY</span>
					</div>

				</a>
			</div>

		</div>
		<div style="height: 20px;position: relative;clear: both;"></div>
		<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

		<section class="main___2e0dj">
	<div class="content">
		
		<div class="wallpaperWrapper">
			<picture><%= image_tag("lib/4.webp") %></picture>
		</div>
		<div class="poster_content">
			<div class="ctas___1lkb1 left___2fRvf">
				<div class="content_item">
					<h1 class="title">ZX 500 RM</h1>
					<p class="summary"><%= t(".summary2") %></p>
					<div class="cta___3s8jP"><a href="
						/products?category=shoes" title="
						XEM NGAY BÂY GIỜ"
						class="gl-cta gl-cta--primary gl-cta--primary-light">
						XEM NGAY BÂY GIỜ<span class="gl-icon icon  gl-cta__icon icon--size-l"></span></a></div>
						
				</div>
			</div>
		</section>

		<!-- ---------------------------------------------------------------------------------------------------------------------------- -->


		<div class="text-center" style="text-align:center">

			<div class="teaser_container">
				<a href="/products?category=shoes">
					<div class="thumbnail">
						<%= image_tag("lib/5.jpg") %>
					</div>
					<div class="tester_text">
						<h6>ULTRABOOST</h6>
						<span>MUA NGAY</span>
					</div>
					
				</a>
			</div>
			
			<div class="teaser_container">
				<a href="/products?category=shoes">
					<div class="thumbnail">
						<%= image_tag("lib/6.webp") %>
					</div>
					<div class="tester_text">
						<h6>NEVER MADE </h6>
						<span>MUA NGAY</span>
					</div>
					
				</a>
			</div>
			
		</div>
		
		<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

		<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

		<section class="row main___4eD3G color-theme-black"><div class="content___3uku8 fadeIn___3Xv7c seen___RpUqc"><h2 class="gl-heading--m title___3vuW1 withhtml___3bMHz">THEO DÕI CHÚNG TÔI</h2><div class="buttonsContainer___24LfL">
			<a class="socialButton___2gvu4" href="https://www.facebook.com/adidasvn-233485690675732/" target="_blank">
				<%= image_tag("glass/assets/img/Facebook_tcm221-231102.webp", :alt => "Facebook") %>
			</a>
			<a class="socialButton___2gvu4" href="https://twitter.com/manh11117" target="_blank">
				<%= image_tag("glass/assets/img/Twitter_tcm221-231101.webp", :alt => "Twitter") %>
			</a>
			<a class="socialButton___2gvu4" href="https://www.youtube.com/channel/UCEpwKlaYn7Li3Nh_kQLmCTA" target="_blank">
				<%= image_tag("glass/assets/img/Youtube_tcm221-231103.webp", :alt => "YouTube") %>
			</a>
			<a class="socialButton___2gvu4" href="https://www.instagram.com/nguyenducmanh6392/" target="_blank">
				<%= image_tag("glass/assets/img/Instagram_tcm221-231100.webp", :alt => "Instagram") %>
			</a></div></div>
		</section>

		<!-- ---------------------------------------------------------------------------------------------------------------------------- -->



		<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="/css/custom.css" rel="stylesheet">
		<div class="stack" style="display: none" ><div class="container"><div class="row">

			<h4 class="title___37UkT">CÁC MỤC ĐÃ XEM GẦN ĐÂY</h4>
			<div id="exampleSlider">
				<div class="MS-content">
					<?php 

					for ($x = 1; $x <= 12; $x++) {
					if(isset($_COOKIE[$x])) {$COOKIE=$_COOKIE[$x];
				} else {
				$COOKIE=0;
			} 

			$conn=mysqli_connect( "localhost", "root", "", "adidas"); 
			mysqli_query($conn, "SET NAMES utf8"); 
			$sql="select * from sanpham where IDSP=$COOKIE"; 
			$query=mysqli_query($conn,$sql); 
			while($row=mysqli_fetch_array($query)) 
			{ // Mở PHP
				$giaban=$row['GIABAN']; 
				$giagoc=$row['GIAGOC'];
				?>
				<div class="item"><div class="items">
					<a href="/products/product/?slot=<?php echo $row['IDSP'] ?>" data-auto-id="glass-hockeycard-link">
						<img class="gl-product-card__image" src="/images/<?php echo $row['IDSP']?>/<?php echo $row['ANH'] ?>" alt="<?php echo $row['TENSP'];?>" height="240" width="240">
						<div class="gl-product-card__details">
							<div class="gl-product-card__details-top">
								<div class="gl-product-card__category gl-label--medium" title="Performance">
									<?php
									if(empty($row['AGE']) or $row['AGE']!='infant_toddler'){
									if ($row['GENDER']=="kids"){echo $row['GENDER'].' unisex ';} else {
									if ($row['GENDER']!="" && $row['GENDER']!="boys" && $row['GENDER']!="girls") echo  $row['GENDER'].'\'s'.' '; else echo  $row['GENDER'].' ';}
								} 
								else {
								echo 'infants ';}
								if(!empty($row['BRAND'])) echo $row['BRAND'].' ';
								if(!empty($row['SPORTS'])) echo $row['SPORTS'];
								?>
							</div>
						</div>
						<div class="gl-product-card__details-main">
							<div class="gl-product-card__name gl-label gl-label--medium" title="<?php echo $row['TENSP'];?>"><?php echo $row['TENSP'];?></div>
							<div class="gl-price-container"><span id="red"
								<?php if(!empty($giagoc)) echo "style=\"color: red\""?>>  
								<?php  echo number_format($giaban*23000,0,".",","),"₫"?> 
							</span><strike><?php if(!empty($giagoc))  echo number_format($giagoc*23000,0,".",","),"₫"?></strike>
						</span></div>
					</div>
					<div class="gl-product-card__details-bottom">
						<div class="gl-product-card__reviews-number">
							<?php
							$idsp=$row['IDSP'];
							$sql="SELECT count(postid) as totalreviews FROM comments WHERE postid='$idsp'"; 
							$result=mysqli_query($conn,$sql);
							$row=mysqli_fetch_assoc($result); 
							$total_reviews=$row[ 'totalreviews'];
							echo $total_reviews; 
							?>
						</div>
					</div>
				</div>
			</a>
		</div></div>
		<?php
	}}
	?>
</div>
<div class="MS-controls" <?php if (empty($_COOKIE[5])){ echo 'style="display: none"';} ?>>
<button class="MS-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
<button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
</div>
</div>

<!-- Include jQuery -->
<script src="/js/jquery-2.2.4.min.js"></script>

<!-- Include Multislider -->
<script src="/js/multislider.min.js"></script>

<!-- Initialize element with Multislider -->
<script>
$('#exampleSlider').multislider({
interval: 0,
slideAll: true,
duration: 100
});
</script>

</div></div></div>

<!-- ---------------------------------------------------------------------------------------------------------------------------- -->
