<% details = '' %>
<% tonggiaban = 0 %>
<% tonggiagoc = 0 %>
<% i = 0 %>
<% @cart.cart_items.order(:id).each do |cart_item| %>
        <% giaban = cart_item.variant.price %>
        <% if !cart_item.variant.originalprice.nil? then giagoc = cart_item.variant.originalprice end %>
        <% soluong = cart_item.quantity %>
        <% tonggiaban += soluong * giaban %> 
        <% giagoc ? tonggiagoc += soluong * giagoc : tonggiagoc += soluong * giaban %>
        <% details<<cart_item.product.name %>
        <% details<<'(' %>
        <% details<<cart_item.variant_id.to_s %>
        <% details<<')' %>
        <% details<<'x' %>
        <% details<<soluong.to_s %>
        <% details<<',' %>
<% end %>

    <br>
        <% details<<'TỔNG: ' %>

        <% details<<number_to_currency(tonggiaban*23000, precision: 0, separator: ',',delimiter: '.', unit: '₫', format: "%n %u").to_s %>

<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
<div id="error_explanation">
<div class="alert alert-danger">
      The form contains <%= pluralize(@order.errors.count, "error") %>.</div>
<ul>
    <% @order.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
 
<% end %></ul>
</div>
 
<% end %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :details, value: details %>
  <%= f.hidden_field :address, value: current_user.address %>
  <%= f.hidden_field :phone, value: current_user.phone %>
  <select name="order[method]" id="order_method_id" >
    <option value="thanh toán khi giao hàng">Chọn phương thức thanh toán</option>
<option value="thanh toán khi giao hàng">thanh toán khi giao hàng</option>
<option value="thẻ">thẻ</option></select>
  
  <%= f.hidden_field :status, value: 'đang xử lý' %>
  <%= f.submit 'Tạo đơn hàng',class: "materialize-btn materialize-btn-black" %>
<% end %>